body{
    background: rgb(0, 0, 0);
    color: rgb(250, 250, 250);
    padding: 3% 0;
}
.container{
    text-align: center;
    background: yellow;
    padding: 10% 4%;
    border: 3px dotted white;
    border-radius: 5px;
}
.form-control{
    /* border-color: blue; */
    background: white;
    color: black
}
.form{
    background: rgb(196, 59, 82);
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    border: 1px;
    border-radius: 5px;
}