
h4,p {
	padding: 0;
	margin: 0;
	line-height: 1.3;
	font-weight: 600;
}

p {	
	font-size: 0.7rem;
}


header,
#sec-video {
	text-align: center;
	width: 100%;
	background-color: #fff;
}

iframe{
	margin: 5% 0;
	width: 100%;
    /* height: 490px; */
    position: fixed;
}
article {
	display: flex;
	align-items: center;
	padding: 8px 12px;
	border: 2px solid none;
	border-radius: 8px;
	margin: 0 auto;
	
}
article:hover {
	border: 2px solid none;
	background: rgb(192, 192, 192);
	cursor: pointer;
}
.thumb {
	height: 70px;
	border-radius: 4px;
}

.details {
	padding: 8px 22px;
}

.details >p{
	color: rgb(26, 174, 175);
}
.boxList{
	position: absolute;
}
#listkeywords{
	padding: 0;
}
#listkeywords>li{
	background: pink;
	color: white;
	text-align: left;
}
.selected{
	color: black;
}
input::-webkit-calendar-picker-indicator {
	display: none;
  }