
h4,p {
	padding: 0;
	margin: 0;
	line-height: 1.3;
	font-weight: 600;
}

p {	
	color: grey;
	font-size: 0.7rem;
}

body {
	background-color: #eee;
}

.container {
	width: 560px;
	background-color: #fff;
	margin: 0 auto;
}

header,
#sec-video {
	text-align: center;
	width: 100%;
	background-color: #fff;
}

iframe{
	margin: 5% 0;
	width: 100%;
    /* height: 490px; */
    position: fixed;
}
article {
	display: flex;
	align-items: center;
	padding: 8px 12px;
	border: 2px solid white;
	border-radius: 8px;
	margin: 0 auto;
	
}
article:hover {
	border: 2px solid #20af1b;
	background: rgb(232, 241, 205);
	cursor: pointer;
}
.thumb {
	height: 70px;
	border-radius: 4px;
}

.details {
	padding: 8px 22px;
}
