<div class="container-fluid">
    <div class="row">
        
        <div class="col-sm-6 col-md-7 col-lg-9 col-12 column screen-side">

            <div id="video-placeholder">
                <!-- play video     -->
            </div>
            
            <activeUser>
                
    
            </activeUser>
    
        </div>
        <!-- sửa lại -->
        <!-- <button class="btn btn-primary" style="float: right"id="btn-show-chat"><</button> -->
        <div class="col-sm-6 col-md-5 col-lg-3 col-12 column chat-side">
            <div class="hello">
                <button class="btn btn-primary" id="btn-youtube">YouTube</button>
                <button class="btn btn-primary" id="btn-chat-room">Chat</button>
                <button class="btn btn-primary" id="btn-hide-chat">></button>
            </div>
            
    
            <section id="sec-video">
                <div id="search_items" class="mb-3">
                    <input class="form-control" type="text" id="search-vid" placeholder="what r you looking for?">
                    <button id="search" class="btn btn-primary" type="button">Search</button>
                </div>
                <div>
                    <main>
                        <!-- suggest   video -->
                    </main>
                </div>
            </section>
                        
            <section id="sec-chat">
                <div id='message'></div>      
                <textarea name="newmessage" id="text-chat"  rows="3" placeholder="text message hear"></textarea>
            </section>
          
        </div>
    </div>
  </div>



