<button class="btn btn-login" id='btn-login'value="Login" type="button" >Đăng nhập</button>
<div class="container">
    <div class="form" style="background: rgb(255, 25, 75)">
      <h2>Đăng kí</h2>
        <form class="was-validated" id="register">
          <div class="form-group">
            <label for="uname">Nhập tên đăng nhập:</label>
            <input type="text" class="form-control" id="uname" placeholder="Enter username" name="username" required>
            <div class="valid-feedback">Valid.</div>      
          </div>
          <div class="form-group">
            <label for="pwd">Nhập Mật khẩu:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" required>
            <div class="valid-feedback">Valid.</div>     
          </div>
          <div class="form-check mb-2 mr-sm-2">
            <label class="form-check-label">        
              <input class="form-check-input" type="checkbox"> Remember me
            </label>
          </div>
          <button  class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
  </div>